<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <title>Shop</title>

        <!-- Google font -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

        <!-- Bootstrap -->
        <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>

        <!-- Slick -->
        <link type="text/css" rel="stylesheet" th:href="@{/css/slick.css}"/>
        <link type="text/css" rel="stylesheet" th:href="@{/css/slick-theme.css}"/>

        <!-- nouislider -->
        <link type="text/css" rel="stylesheet" th:href="@{/css/nouislider.min.css}"/>

        <!-- Font Awesome Icon -->
        <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">

        <!-- Custom stlylesheet -->
        <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"/>

    </head>
    <body>
        <!-- HEADER -->
        <header>
            <!-- TOP HEADER -->
            <div id="top-header">
                <div class="container">
                    <ul class="header-links pull-left">
                        <li><a href="#"><i class="fa fa-phone"></i> +021-95-51-84</a></li>
                        <li><a href="#"><i class="fa fa-envelope-o"></i> email@email.com</a></li>
                        <li><a href="#"><i class="fa fa-map-marker"></i> 1734 Stonecoal Road</a></li>
                    </ul>

                    <ul class="header-links pull-right" style="color: white">
                            <span sec:authorize="!isAuthenticated()">
                                <a th:href="@{/login}" style="color: white">Login</a>
                                <a style="color: white">/</a>
                                <a th:href="@{/registration}" style="color: white">Register</a>
                            </span>
                           <span sec:authorize="isAuthenticated()" style="display: inline-block;">
                    Hello, <span sec:authentication="principal.firstName"></span> <span sec:authentication="principal.lastName"></span>

                               <div class="dropdown">
                                  <button style="background-color: #15161D; border-color: #15161D" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                      <i class="fa fa-cog"></i>
                                    <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a th:href="@{/profile/{username}(username=${#authentication.name})}" style="color: black">Profile</a></li>
                                    <li><a th:href="@{/your-orders/{username}(username=${#authentication.name})}" style="color: black">Your orders</a></li>
                                    <li><a th:href="@{/logout}" style="color: black">Sign Out</a></li>
                                    <li role="separator" class="divider"></li>
                                  </ul>
                                </div>
                            </span>
                    </ul>
                </div>
            </div>
            <!-- /TOP HEADER -->

            <!-- MAIN HEADER -->
            <div id="header">
                <!-- container -->
                <div class="container">
                    <!-- row -->
                    <div class="row">
                        <!-- LOGO -->
                        <div class="col-md-3">
                            <div class="header-logo">
                                <a href="http://localhost:8080/" class="logo">
                                    <img src="/img/logo.png" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- /LOGO -->

                        <!-- SEARCH BAR -->
                        <div class="col-md-6">
                            <div class="header-search">
                                <form th:action="@{/search}">
                                    <input  class="input" placeholder="Search here" type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required />
                                    <button class="search-btn" onclick="clearSearch()">Search</button>
                                </form>
                            </div>
                        </div>
                        <!-- /SEARCH BAR -->

                        <!-- ACCOUNT -->
                        <div class="col-md-3 clearfix">
                            <div class="header-ctn">
                                <!-- Wishlist -->
                                <div>
                                    <a th:href="@{/wishlist/{username}(username=${#authentication.name})}">
                                        <i class="fa fa-heart-o"></i>
                                        <span>Your Wishlist</span>
                                    </a>
                                </div>
                                <!-- /Wishlist -->
                                <!-- Cart -->
                                <div>
                                    <a th:href="@{'/shopping-cart/views'}">
                                        <i class="fa fa-shopping-cart"></i>
                                        <span>Your Cart</span>
                                    </a>
                                </div>
                                <!-- /Cart -->
                                <!-- Menu Toogle -->
                                <div class="menu-toggle">
                                    <a href="#">
                                        <i class="fa fa-bars"></i>
                                        <span>Menu</span>
                                    </a>
                                </div>
                                <!-- /Menu Toogle -->
                            </div>
                        </div>
                        <!-- /ACCOUNT -->
                    </div>
                    <!-- row -->
                </div>
                <!-- container -->
            </div>
            <!-- /MAIN HEADER -->
        </header>
        <!-- /HEADER -->
    </body>

    <script type="text/javascript">
        function clearSearch() {
            window.location = "[[@{/search}]]";
        }
    </script>
</html>